 
  .quiz-container {
    text-align: center;
  }
  
  .twotruths {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .test {
    margin: 0.1rem;
    padding: 0.8rem 0.4rem;
    border: 2px solid #92a8d1;
    cursor: pointer;
    background-color: #801AE5;
    color: white;
    transition: background-color 0.3s ease;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2rem;
    width: 100%;
  }
  
  .test:hover {
    background-color: #483b56; /* Slightly lighter shade of the original color */
  }
  
  .selected {
    background-color: lightgray;
  }
  
  .correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }
  
  button {
    width: 20vw;
  }
  
  