@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.Main-Container {
    position: relative;
    width: 100%;
    top: 30px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-left: 5%;
    font-family: "Inter", sans-serif;
}
.content-container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    width: 100%; 

}
.list {
    width: 57%;
    margin-top: 20px;
}

.line {
    border-left: 4px solid #801AE5;
    height: 150px;
}
.jobs {
    list-style-type: disc; 
    padding: 0; 
}

.job {
    margin-bottom: 40px; 
}
.jobs li::marker {
    color: #801AE5; 
}
.job-description-container {
    display: flex; 
    align-items: flex-start; 
}

.line {
    width: 5px; 
    background-color: #302938;
    margin-right: 2%;
}

.paragraph-container {
    margin: 0; 
    width: 70%
}


.paragraph-container p {
    font-size: 16px;
}

.funfact-container{
    padding-top: 7%;
}
.fun-fact-circle{
    margin-left: 10%; 
    width: 400px; /* Set the size of the circle */
    height: 400px; /* Set the size of the circle */
    border-radius: 50%; /* Make it a circle */
    background-color: #302938; /* Set the background color */
}

@media (max-width: 1260px) {
    .fun-fact-circle {
        width: 350px; /* Set the size of the circle */
        height: 350px; /* Set the size of the circle */
        border-radius: 50%; /* Make it a circle */
    }
    .funfact-container{
        padding-top: 9%;
    }
    .line {
        height: 10vw;
        margin-right: 4%;
    }
}

@media (max-width: 1040px) {
    .fun-fact-circle {
        width: 350px; /* Set the size of the circle */
        height: 350px; /* Set the size of the circle */
        border-radius: 50%; /* Make it a circle */
    }
    .content-container {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        width: 100%;
    }
    .paragraph-container {
        margin: 0; /* Remove default margin */
        width: 1000%
    }
    .job {
        width: 70vw
    }
    .line {
        height: 120px;
        margin-right: 4%;
    }
    .funfact-container {
        padding-top: 1%;
        align-items: center; 
    }

}

@media (max-width: 768px) {
    .line {
        height: 150px;
        margin-right: 4%;
    }
    .Main-Container {
        margin-bottom: 20%;

    }
}

@media (max-width: 558px) {
    .line {
        height: 220px;
        margin-right: 4%;
    }
    .funfact-container{
        padding-top: 0.5%;
    }
}