.Main-Container {
    position: relative;
    width: 100%;
    top: 30px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start;
    margin-left: 80px
}
.content-container {
    display: flex; /* Use flexbox to align children horizontally */
    flex-direction: row; /* Align items in a row */
    align-items: flex-start; /* Align items to the top */
    width: 100%; /* Ensure it uses full width */

}
.list {
    width: 57%;
    margin-top: 20px;
}

.line {
    border-left: 4px solid #801AE5;
    height: 150px;
}
.jobs {
    list-style-type: disc; 
    padding: 0; /* Remove default padding */
}

.job {
    margin-bottom: 40px; /* Add spacing between jobs */
}
.jobs li::marker {
    color: #801AE5; /* Change the color of the bullet points */
}
.job-description-container {
    display: flex; /* Use flexbox to align children horizontally */
    align-items: flex-start; /* Align items at the start vertically */
}

.line {
    width: 5px; /* Adjust width as needed */
    background-color: #302938;
    margin-right: 20px; /* Space between the line and the paragraph */
}

.paragraph-container {
    margin: 0; /* Remove default margin */
    width: 70%
}


.paragraph-container p {
    font-size: 19px;
}

.funfact-container{
    padding-top: 75px;
}
.fun-fact-circle{
    width: 400px; /* Set the size of the circle */
    height: 400px; /* Set the size of the circle */
    border-radius: 50%; /* Make it a circle */
    background-color: #302938; /* Set the background color */
}
