.main-container {
    position: relative;
    width: 100%;
    top: 40px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start;
    margin-left: 5%;
    font-family: "Inter", sans-serif;
    padding-top: 2rem
}

.project-container {
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align items at the start */
    margin-top: 20px; 
    padding-right: 1%/* Adjust margin as needed */
}

.project-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-link {
    text-decoration: none;
}

.project {
    width: 30rem;
    height: 15rem;
    border-radius: 10px;
    background-color: #140C1C;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    margin-bottom: 3rem; 
    font-family: 'Inter', sans-serif;
    border: 3px solid #302938;
    position: relative; 
    overflow: hidden; 
    transition: background-color 0.3s ease;
    padding: 4rem;
    text-align: center;
}

.project:hover {
    background-color: #801AE5;
}

.project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 23px;
    transition: top 0.3s ease, transform 0.3s ease; 
}

.project:hover .project-name {
    top: 10px;
    transform: translateX(-50%); 
}

.project-description {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    font-size: 15px;
    text-align: center;
    transition: top 0.3s ease; 
}

.project:hover .project-description {
    top: 15%; 
}

@media (max-width: 1680px) {
    .project {
    width: 27rem;
    height: 12rem;
    }
}

@media (max-width: 1550px) {
    .project {
    width: 24rem;
    height: 11rem;
    }
    .project-description {
        font-size: 14px;
    }
}

@media (max-width: 975px) {
    .project {
    width: 40rem;
    height: 11rem;
    }
}

@media (max-width: 851px) {
    .project {
    width: 35rem;
    height: 10rem;
    margin-bottom: 1rem;

    }
}

@media (max-width: 736px) {
    .project {
        width: 24rem;
        height: 9rem;
        margin-bottom: 1rem;
    }
    .project-description {
        font-size: 12px;
    }
}