.main-container {
    position: relative;
    width: 100%;
    top: 40px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start;
    margin-left: 80px;
    font-family: "Inter", sans-serif;
}

.project-container {
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Align items at the start */
    margin-top: 20px; /* Adjust margin as needed */
}

.project-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-link {
    text-decoration: none;
}

.project {
    width: 500px;
    height: 240px;
    border-radius: 10px;
    background-color: #140C1C;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 50px; 
    font-family: 'Inter', sans-serif;
    border: 3px solid #302938;
    position: relative; 
    overflow: hidden; 
    transition: background-color 0.3s ease;
    padding: 20px;
    text-align: center;
}

.project:hover {
    background-color: #801AE5;
}

.project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 23px;
    transition: top 0.3s ease, transform 0.3s ease; 
}

.project:hover .project-name {
    top: 10px;
    transform: translateX(-50%); 
}

.project-description {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    transition: top 0.3s ease; 
}

.project:hover .project-description {
    top: 15%; 
}
