form {
    color: white;
}
input {
    width: 80vh; 
    height: 3rem; 
    color: white;
    font-size: 15px; 
}

.track-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.track-container button {
     background-color: #801AE5;
     width: 3rem;
     color: white;
     height: 2rem;
     font-size: 12px; 
     font-weight: bold;
     border: 2px solid white;
     margin-right: 1rem;  
}

@media (max-width: 1400px) {
    input {
        width: 60vh;
    }
}

@media (max-width: 1080px) {
    input {
        width: 55vh;
    }
}

@media (max-width: 1040px) {
    input {
        width: 100vh;
    }
}

@media (max-width: 920px) {
    input {
        width: 80vh;
    }
}

@media (max-width: 723px) {
    input {
        width: 60vh;
    }
}

@media (max-width: 620px) {
    input {
        width: 50vh;
    }
}