input {
    width: 652px; 
    height: 50px; 
    color: white;
    font-size: 15px; 
}

.track-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.track-container button {
     background-color: #801AE5;
     width: 35px; 
     height: 35px;
     font-size: 12px;   /* Adjust the spacing between the track content and the button as needed */
}