input {
    width: 500px; 
    height: 50px; 
    color: white;
    font-size: 15px; 
}

.track-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.track-container button {
     /* Adjust the spacing between the track content and the button as needed */
}