@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.main-container-spotify {
    position: relative;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    flex-wrap: wrap; 
    align-items: center; /* Center items horizontally */
    margin-top: 100px; 
    width: 100%; 
    font-family: "Inter", sans-serif;  
    margin-bottom: 60px;
    padding-right: 3%; 
    

}

.spotify-container {
    display: flex;
    width: 100%;
    gap: 10vh;
}

.search-result-container {
    width: 120vw;
    max-height: 78vh; 
    overflow: overlay;
}

.login-wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.Title {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%; /* Ensure the title takes full width */
    margin-bottom: 20px; /* Add some space below the title if needed */
}

@media (max-width: 1040px) {
    .spotify-container {
        flex-direction: column; /* Stack items vertically */
        width: 100%; /* Ensure full width */
    }

    .search-result-container {
        width: 100%;
        height: 50vh;
        margin-right: 0;  /* Remove right margin to take full width */
    }

    iframe {
        margin-top: 20px; /* Add some space between the search results and the iframe */
        width: 100%; /* Full width for the iframe */
    }
}
