@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.main-container-spotify {
    position: relative;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    align-items: center; 
    margin-top: 100px; 
    width: 100%; 
    font-family: "Inter", sans-serif;  
    margin-bottom: 60px;
    padding-right: 3%; 
    

}

.spotify-container {
    display: flex;
    width: 100%;
    gap: 10vh;
}

.search-result-container {
    width: 120vw;
    max-height: 78vh; 
    overflow: overlay;
}

.login-wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.Title {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin-bottom: 20px; 
    flex-direction: column;
    padding-right: 1rem; 
    padding-left: 1rem; 
}

@media (max-width: 1040px) {
    .spotify-container {
        flex-direction: column; 
        width: 100%; 
    }

    .search-result-container {
        width: 100%;
        height: 50vh;
        margin-right: 0;  
    }

    iframe {
        margin-top: 20px; 
        width: 100%;
    }
}
