.main-skills{
    position: relative;
    width: 100%;
    top: 30px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start;
    padding-right: 50px;
    padding-left: 50px;
}
.skills-header{
    display: flex; /* This line makes the child a flex container */
    align-items: center; /* Center items vertically within the skills-header */
    justify-content: center; /* Center items horizontally within the skills-header */
    width: 100%; /* Ensures the skills-header takes up the full width of the parent */
    text-align: center;
}

.skills-container{
    width: 100%;
    margin-top: 30px; 
    overflow: hidden;
}

.skills-container .s-container .skillss{
    display: flex; 
    animation: swipe 15000ms linear infinite;
    gap: 10px;

}

.skills-container .s-container {
    display: flex;
}

@keyframes swipe {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-30%)
    }
}

.skill {
    background-color: #801AE5;
    font-size: 21px; 
    padding: 0 10px;
    border-radius: 10px; /* Changed to px for more consistent rounding */
    width: 120px; /* Set a fixed width */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
     
}