.Home {
    position: relative;
    width: 100%;
    top: 0px;
    display: flex;
    align-items: flex-start;
    margin: 30px
}
.image-container {
    flex: 0 0 auto; /* Take up remaining space */
    margin-left: 50px; /* Adjust margin as needed */
}

.about-me-container {
    flex: 1; /* Take up more space */
    margin-left: 50px;
    margin-right: 100px; 
    align-items: flex-start;
}

.about-me-container h2 {
    font-size: 50px; 
    font-weight: 900;

}
.about-me-container p {
    font-size: 30px;
    font-weight: 300;
}

.social-container {
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Stack children vertically */ /* Align items at the start */
    margin-top: 50px; /* Adjust margin as needed */
    text-decoration: none;
    align-items: center;
}

.social-links {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap to the next line if needed */
    
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #801AE5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: bold;
}

.circle:hover {
    background-color: #4682B4; /* Change color on hover */
}

